<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title>To-Do-List</title>
</head>
<body>
    <header>
        <div class="header-div">
            <a href="/"><img src="https://static.thenounproject.com/png/6085758-200.png" alt="calendar-img"></a>
            <span>Today</span>
            <a href="/work"><img src="https://static.thenounproject.com/png/779212-200.png" alt="workspace-img"></a>
            <span>Work</span>
        </div>
    </header>
</body>
</html>